html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

/* Reset Styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  padding: 0;
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Common Styles */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*.section {
  padding: 120px 0;
}*/
.section {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}
/*.footer {
  padding: 100px 0;
}*/
.footer {
  padding: 97.5px 0;
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}
/*.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}*/
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  outline: 2px solid red;
  outline-offset: -2px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.logo,
.logo-dark,
.f-logo,
.logo-light {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo {
  display: inline-flex;
  margin-right: 76px;
  padding: 17.5px 0;
  color: #4d5ae5;
}
@media only screen and (min-width: 768px) {
  .logo {
    padding: 0;
  }
}
.logo-dark {
  display: inline-flex;
  color: #2e2f42;
}
.f-logo {
  /*display: flex;*/
  display: inline-block;
  color: #4d5ae5;
}
.logo-light {
  /*display: flex*/
  display: inline-block;
  color: #f4f4fd;
}
.title,
.list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.op-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  /*margin-right: auto;*/
}
@media only screen and (min-width: 768px) {
  .header-nav {
    margin-right: auto;
  }
}
@media only screen and (min-width: 1158px) {
  .header-nav {
    flex-grow: 0;
  }
}
.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .header-btn {
    display: none;
  }
}

/* Nav + Address */
.nav-list,
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media only screen and (max-width: 767.98px) {
  .nav-list,
  .address-list {
    display: none;
  }
}
@media only screen and (max-width: 1157.98px) {
  .address-list {
    flex-direction: column;
    gap: 12px;
    margin-left: auto;
    margin: 16px 0;
  }
}
.nav-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-link.active {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #434455;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Hero*/
.hero-section {
  /*padding: 188px 0;*/
  padding: 72px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 767.98px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob.jpg);
  }
}
@media screen and (max-width: 767.98px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desk.jpg);
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desk@2x.jpg);
  }
}
.hero-title {
  display: block;
  margin: 0 auto 48px;
  max-width: 496px;
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
@media only screen and (max-width: 767.98px) {
  .hero-title {
    margin: 0 auto 72px;
    max-width: 288px;
    font-size: 36px;
    text-transform: capitalize;
  }
}
@media only screen and (min-width: 768px) {
  .hero-title {
    margin: 0 auto 36px;
  }
}
.button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* Benefits */
.text-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  /*gap: 24px;*/
}
@media only screen and (min-width: 768px) {
  .text-list {
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .text-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}
.list-item {
  /*display: flex;*/
  width: 100%;
  /*flex-direction: column;*/
  /*align-items: flex-start;*/
  justify-content: center;
  align-items: center;
}
.list-item:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .list-item {
    margin-bottom: 0;
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.benefits-icon-wrapper {
  /*display: flex;*/
  display: none;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid#8e8f99;
  background-color: #f4f4fd;
}
@media only screen and (min-width: 1158px) {
  .benefits-icon-wrapper {
    display: flex;
  }
}
.benefits-icon {
  margin: 24px 0;
  justify-content: center;
  text-align: center;
}
.title {
  width: 100%;
  color: #2e2f42;
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .title {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}
.text {
  width: 100%;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media only screen and (min-width: 768px) {
  .text {
    width: 356px;
  }
}
@media only screen and (min-width: 1158px) {
  .text {
    width: 100%;
  }
}

/* Our Team */
.our-team {
  background-color: #f4f4fd;
}
.team-title {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  /*gap: 24px;*/
  gap: 70px;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .team-list {
    gap: 24px;
    width: 100%;
  }
}
.li-img {
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.social-icon-wrapper {
  padding: 32px 0;
}
.list-title {
  display: flex;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.list-text {
  display: flex;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.social-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
/* Our Team + Mobile Menu */
.elements {
  width: 40px;
  height: 40px;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.circle:hover,
.circle:focus {
  background-color: #404bbf;
}
.social-icon {
  fill: currentColor;
}

/* Portfolio */
.op-title {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.op-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  /*column-gap: 24px;*/
  /*row-gap: 48px;*/
  background-color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .op-list {
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .op-list {
    row-gap: 48px;
  }
}
.op-img {
  width: 360px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .op-img {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .op-img {
    width: calc((100% - 48px) / 3);
  }
}
.op-img:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.op-img:hover .hide-text {
  transform: translateY(0%);
}
.img-wrapper {
  position: relative;
  overflow: hidden;
}
.hide-text {
  padding: 40px 32px;
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-title-por {
  display: flex;
  margin-bottom: 8px;
}
.list-text-por {
  display: flex;
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */
.footer {
  background-color: #2e2f42;
}
@media only screen and (max-width: 767.98px) {
  .footer {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .footer-container {
    padding: 0 108px;
  }
}
@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    gap: 0;
  }
}
@media only screen and (max-width: 767.98px) {
  .f-logo-wrapper {
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 768px) {
  .f-logo-wrapper {
    max-width: 264px;
  }
}
@media only screen and (min-width: 1158px) {
  .f-logo-wrapper {
    margin-right: 120px;
  }
}
.f-text {
  margin-top: 17.5px;
  color: #f4f4f4;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
@media only screen and (max-width: 767.98px) {
  .f-social-icon-wrapper {
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .f-social-icon-wrapper {
    margin-right: auto;
  }
}
.footer .social-icon-list {
  gap: 16px;
  justify-content: center;
}
.footer .circle:hover,
.footer .circle:focus {
  background-color: #31d0aa;
}
.f-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .footer-wrapper {
    max-width: 453px;
    width: 100%;
  }
}
.wrapper-caption {
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  justify-content: center;
}
.subscribe-form-field {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .subscribe-form-field {
    max-width: 264px;
  }
}
.subscribe-form-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  outline: transparent;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-form-input::placeholder {
  color: currentColor;
}
.subscribe-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  gap: 16px;
  padding: 8px 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: #4d5ae5;
}
.subscribe-form-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* Modal Form */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background: #fcfcfc;
}
@media only screen and (min-width: 768px) {
  .modal {
    padding-left: 24px;
    padding-right: 24px;
    width: 408px;
    min-height: 584px;
  }
}
.modal-btn {
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
.modal-caption {
  margin-bottom: 16px;
  width: 100%;
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.form-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-wrapper {
  margin-bottom: 8px;
}
.modal-wrapper.comment {
  margin-bottom: 16px;
}
.form-field {
  position: relative;
}
.form-input {
  border: none;
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-icon {
  fill: #4d5ae5;
}
.textarea-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-comment:focus {
  border-color: #4d5ae5;
}
.modal-wrapper-accept {
  margin-bottom: 24px;
}
.user-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.footer-checkbox:checked + .user-privacy > .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.footer-checkbox-link {
  color: #4d5ae5;
}
.modal-send {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 32px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  gap: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.modal-send:hover,
.modal-send:focus {
  background-color: #404bbf;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 72px 16px 40px;
  background-color: #fff;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 300ms ease, visibility 300ms ease;
}
.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
}
.mobile-menu .menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
}
.mobile-menu-list {
  margin-bottom: 168px;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.mobile-menu-link.current {
  color: #404bbf;
}
.mobile-menu-contacts {
  margin-bottom: 48px;
}
.mobile-menu-contacts .mobile-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-contact {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-menu-contact.accent {
  color: #4d5ae5;
}
.mobile-menu-icon-wrapper > .social-icon-list-mob {
  display: flex;
  gap: 40px;
}
